
Programmi/Effetto di Memoria/Calcolo_diretto_dello_spettro_in_potenza/Risultati/DP_in_funzione_f_m_1_m_2____e_1_2000_a_4_0000.txt
Programmi/Effetto di Memoria/Calcolo_diretto_dello_spettro_in_potenza/Risultati/DP_in_funzione_f_m_1_m_2____e_1_050_a_1_000.txt
Programmi/Effetto di Memoria/Calcolo_diretto_dello_spettro_in_potenza/Risultati/DP_in_funzione_f_m_1_m_2____e_1_0500_a_0_0100.txt
Programmi/Effetto di Memoria/Calcolo_diretto_dello_spettro_in_potenza/Risultati/DP_in_funzione_f_m_1_m_2____e_1_005_a_1_000.txt
